// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.category-show-p {
	list-style: none;
	padding: 0px;
}

.jumbotron-category {
	margin-top: 100px;
  height: 400px;
}

.img-category-s {
	margin-bottom: 10px;
}

.btn-category-s {
	margin-bottom: 20px;
}