@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	background-color: #fff;
}

body {
	height: 100%;
}

.width-r {
  position: relative;
}
#clip {
  position: absolute;
  clip: rect(0, 0, 581.55px, -100px);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}
.this {
  width: 20%;
	float: left;
  height: 581.55px;
  position: relative;
  padding: 0;

}
.inside {
  width: 100%;

  float: left;
  height: 581.55px;
  position: absolute;
  transition: 0.5s;
}

.inside:hover {

  z-index:100;
  width: 110%;
}

.navbar-ma {
	/* remove space between the navbar and the images below */
	margin-bottom: 0px;
}

.jumbotron {
	height: 220px;
	margin-bottom: 0px;
	z-index: 0;
}

.container-fluid {
	padding: 0px;
}