@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
.navbar {
	background-color: #fff;
}

body {
	height: 100%;
	background-color: white;
}
/*
.jumbotron {
	background-color: white;
}
*/
.width-r {
  position: relative;
}

.well-f {
	background-color: white;
}

.well-f {
	margin-top: 50px;
}

.this {
  width: 400px;
	float: left;
  height: 581.55px;
  position: relative;
  padding: 0;

}
.so-1 {
	clip: rect(0px, 320px, 581.55px, 0px);
}
.so-1:hover {
	clip: rect(0px, 400px, 581.55px, 0px);
	transition: 1s;
	z-index: 100;
}
.so-2 {
	margin-left: 280px;
	clip: rect(0px, 360px, 581.55px, 40px);
}
.so-3 {
	margin-left: 600px;
	clip: rect(0px, 360px, 581.55px, 40px);
}
.so-3:hover {
	clip: rect(0px, 400px, 581.55px, 0px);
	transition: 1s;
	z-index: 100;
}
.so-4 {
	margin-left: 920px;
	clip: rect(0px, 360px, 581.55px, 40px);
}
.so-4:hover {
	clip: rect(0px, 400px, 581.55px, 0px);
	transition: 0.5s;
	z-index: 100;
}
.so-5 {
	margin-left: 1240px;
	clip: rect(0px, 400px, 581.55px, 40px);
}
.inside {
  width: 400px;
  height: 581.55px;
  position: absolute;

}


.navbar-ma {
	/* remove space between the navbar and the images below */
	margin-bottom: 0px;
}



.container-fluid {
	padding: 0px;
}