<div class="row">
	<div class="col-md-6">
		<div class="well well-f">
			<%= form_for [@image.category, @image] do |f| %>
				<div class="form-group">
					<%= f.label :photo %>
			    <%= f.file_field :photo, accept: 'image/jpeg,image/gif,image/png,image/jpg' %>
		    </div>
				<div class="form-group">
					<%= f.submit class: 'btn btn-primary' %>
				</div>
			<% end %>
		</div>
	</div>
</div>




	